<h1>Post index</h1>

<%= link_to 'New post', new_post_path %>

<ul>
  <% @posts.each do |post| %>
  <li>
    <%= post.title %> / 
    <%= post.text %> / 
    <%= link_to 'show', post_path(post) %> / 
    <%= link_to 'edit', edit_post_path(post) %> / 
    <%= link_to 'destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
</ul>
